{% extends "tutor_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}!</h2>
        <h3>Your Upcoming Sessions:</h3><br>
        <div>
            {% for session in sessions %}
            <p>
              {{session.course}} - {{session.student}} - {{session.session_time}}
              
            </p>
            <hr style="border-color:#000000">
            {% empty %}
            <p>
              No upcoming sessions
            </p>
            {% endfor %}
            <br>
            <br>
            
            <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">-->
            <!--      Add Funds to Wallet-->
            <!--</button>-->
        </div>
    {% else %}
      <h1>Welcome to Tutor Portal</h1>
      <h2>Please login/register to start using Tutoria</h2>
    {% endif %}
  </div>

{% endblock %}