{% extends "student_app/base.html" %}
{% block body_block %}

<div class="container">
    <div class="jumbotron">
        <div style="display: flex; width: 100%;">
            <div class="profile_pic_box" style="width: 350px; height: 350px; background-color: #FFF; background-size: contain;background-image: url({{tutor.profile_pic}})"></div>
            <div style="margin-left: 36px; padding-left: 36px; border-left: #FFF dashed 2px">
                <h4>Name</h4>
                <p>{{tutor.first_name}} {{tutor.last_name}}</p>
                <h4>E-mail Address</h4>
                <p>{{tutor.user.email}}</p>
                <h4>Biography</h4>
                <p>{{tutor.bio}}</p>
                {% if tutor.contracted %}
                    <h4>Contracted</h4>
                {% else %}
                    <h4>Fees per hour:</h4><p>{{tutor.salary}}</p>
                {% endif %}
            </div>
        </div>
        
    </div>
    
</div>




{% endblock %}