{% extends "tutor_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style type="text/css">
  form label{
	display: inline-block;
	width:180px;
}
</style>
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register as a Tutor</h1>
        <h3>Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ tutor_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>
      {% endif %}

    </div>

  </div>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript">
      $(document).ready(function(){
          var label = $("label[for='"+$('#id_salary').attr('id')+"']");
          console.log($("input[type='checkbox']").val());
    
    $('#id_contracted').click(function() {
    if( $('#id_contracted').is(':checked')) {
        $("#id_salary").hide();
        label.hide();
    } else {
        $("#id_salary").show();
        label.show();
    }
  
}); 


});
  </script>

<style type="text/css">
    body {
      background-color: #f97925;
    }
  </style>

{% endblock %}