{% extends "myTutor_app/base.html" %}
{% block body_block %}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
     console.log('hi');
      $(document).ready(function() {
                $('#send_val').click(function(){
                    console.log('hi');
                    if ($('#inputVal3').val() < 0) {
                      alert('enter a positive value!');
                      location.reload();
                      return;
                    }
                		let add_val = { 
                    	"value": $('#inputVal3').val()
                    };
                    console.log(add_val);
                    $.ajax({
                    type:"GET",
                    url : "update_wallet",
                    data: add_val, // do I need to pass data if im GET ting?
                    dataType: 'json',
                    success : function(new_data){
                        if(new_data.error=="error")
                      alert('not enough funds')
                      else
                      alert('successfully retrieved funds')
                      location.reload()
                    },
                    error : function() {
                    		alert('error adding value');
                    		location.reload();
                    }
                });//end ajax   
              });//end click
            });
</script>

<div class="container">
<div class ="jumbotron">
     <p>You have ${{mytutor.wallet}} in your wallet!</p>
     
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">
                  Retrieve Funds From Wallet
            </button>
     
     
     
     
     <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                  <button type="button" class="close" 
                     data-dismiss="modal">
                         <span aria-hidden="true">&times;</span>
                         <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                      Retrieve Funds
                  </h4>
              </div>
              
              <!-- Modal Body -->
              <div class="modal-body">
                  
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label  class="col-sm-2 control-label"
                                for="inputEmail3">Enter the Amount</label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control" 
                          id="inputVal3" placeholder="In Hong Kong Dollars"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
              <!-- Modal Footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal">
                              Close
                  </button>
                  <button id="send_val" type="button" class="btn btn-primary">
                      Retrieve Value
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>

<style type="text/css">
  .modal-body .form-horizontal .col-sm-2,
  .modal-body .form-horizontal .col-sm-10 {
    width: 100%
  }
</style>
    
</div>

</div>
{% endblock %}