{% extends "student_app/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Student Portal</h1>
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}!</h2>
        <h3>Your Sessions:</h3>
        <div>
            {% for session in sessions %}
            <p>
              {{session.course}} - {{session.tutor}} - {{session.session_time}}
            </p><a href="{% url 'session_app:cancel_session' %}?sess={{session.id}}">Cancel</a>
            {% empty %}
            <p>
              You have not enrolled in any tutorial session
            </p>
            {% endfor %}
          
        </div>
          
         
    {% else %}
        <h2>Please login/register to start using Tutoria</h2>
    {% endif %}
  </div>
</div>

{% endblock %}
