{% extends 'student_app/base.html' %}

{% load widget_tweaks %}

{% block body_block %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.first_name.label_tag }}
          {% render_field filter.form.first_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.last_name.label_tag }}
          {% render_field filter.form.last_name class="form-control" %}
        </div>

        <!--<div class="form-group col-sm-4 col-md-3">-->
        <!--  <label>Session:</label>-->
        <!--  <input type="datetime-local" name="abc" style="width:206px"/>-->
        <!--</div>-->

      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form>

  <table class="table table-bordered">

    <tbody>
        {% for tutor in filter.qs %}
          <tr>
            <td><p><a href="{% url 'tutor_app:profile' tutor_id=tutor.id %}">{{tutor.user.first_name}}</a></p><p>{{tutor.bio}}</p></td>
            <!-- <td>{{ session.course }}</td>
            <td>{{ session.session_time }}</td>
            <td><a href="{% url 'session_app:book_session' %}?sess={{session.id}}">Book</a></td> -->
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No data</td>
          </tr>
        {% endfor %}

    </tbody>
  </table>
{% endblock %}
